body{
    
    background-image: url("images/bg.webp");
   
    background-size: 90%;
}
.maincontainer{
    background-color: rgba(255, 255, 255, 0.623);
    width: 600px;
    margin: auto;
    margin-top: 70px;
    padding: 16px;
    border-radius: 5%;
    font-size: 20px;
}
.heading{
    font-size: 35px;
    font-family:cursive;
    color:rgb(52, 8, 94);
    letter-spacing: 3px;
}
.level{
    align-items: center;
    display:flex;
    justify-content: space-evenly;
}


.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: rgb(88, 10, 133)
  }
  
  .button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.easybtn{
    background-color: rgba(0, 128, 0, 0.829);
}
.mediumbtn{
    background-color: rgba(255, 174, 0, 0.863);
}
.hardbtn{
    background-color: rgba(255, 0, 0, 0.678);
}
.soundbtn{
    border-radius: 50%;
    padding: 6px 12px; 
    background-color: rgba(88, 32, 243, 0.767);
    color: #da1616;
}
.strikediag {
    background: linear-gradient(to right top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
    font-size: 15px;
    background-color: rgba(88, 32, 243, 0.767);
  }
